<div class="post">
    <div class="postWrapper">
        <div class="postTop">
            <div class="postTopLeft">
                <img src="../../assets/media.jpg" class="postProfileImg" width="50px" height="50px" >
                <span class="postUsername">Ajay</span>
                <span class="postDate">data</span>
            </div>
            <div class="postTopRight">

            </div>
        </div>
        <div class="postCenter">
            <span class="postText">hello this is</span>
            <img src="../../assets/media.jpg" class="postImg" alt="yes">
        </div>
        <div class="postBottom">
            <div class="postBottomLeft">
                <img src="" alt="like icon" width="20px" height="20x">
                <img src="" alt="heart icon" width="20px" height="20x">
                <span class="postLikeCounter">9 liked</span>
            </div>
            <div class="postBottomRight">
                <span class="postCmmentText">Comments</span>
            </div>
        </div>
    </div>
</div>
